
// cores gerais
$primary-color-one: #c93de5;
$primary-color-two: #3498db;
$primary-color-three: #3498db;

$secondary-color-one: #2ecc71;
$secondary-color-two: #2ecc71;
$secondary-color-three: #332d4b;

// cores de botões
$btn_background-comum: #7cc1f9;
$btn_texto-comum: #ffffff;
$btn_active-comum: #a8ff8d;
$btn_hover-comum: #2bcd41;

$btn_editar-background-comum: #ffb662;
$btn_editar-texto-comum: #ffffff;
$btn_editar-active-comum: #ffedac;
$btn_editar-hover-comum: #ffc69b;

$btn_excluir-background-comum: #ff5353;
$btn_excluir-texto-comum: #ffffff;
$btn_excluir-active-comum: #ff0000;
$btn_excluir-hover-comum: #ff2222;
